<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문 내역</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/layout/nav.css">
    <link rel="stylesheet" href="/css/sales/list.css">

  <div th:replace="~{layout/nav :: navbar}"></div>
</head>
<body>

  <h2 class="title">주문 내역</h2>

  <table class="order-table">
  <thead>
      <tr>
          <th>상품명</th>
          <th>수량</th>
          <th>가격</th>
          <th>주문자 ID</th>
      </tr>
  </thead>
  <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.getItemName()}">샘플상품</td>
            <td th:text="${order.getCount()}">2</td>
            <td th:text="${order.getPrice()}">10000</td>
            <td th:text="${order.getMember().getLoginId()}">testuser</td>
        </tr>
  </tbody>
</table>

</body>
</html>
