<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 상세</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/layout/nav.css">

    <link rel="stylesheet" href="/css/item/detail.css">
</head>
<body>

<div th:replace="~{layout/nav.html::navbar}"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img th:src="${data.getImageURL() != null ? data.getImageURL() : 'https://placehold.co/300x300?text=No+Image'}"
     alt="상품이미지" />

    <h4 th:text="${data.getTitle()}">sample title</h4>
    <p th:text="${data.getPrice() + '원'}">sample price</p>
    <p class="writer" th:if="${data.usrID != null}">
        👤 <span th:text="'작성자 : ' + ${data.usrID}">작성자 : sampleUser</span>
    </p>

</div>

</body>
</html>
