<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css"/>
</head>
<body>
<div th:replace="~{layout/nav.html::navbar}"></div>
<div th:each="item : ${itemList}">
    <div class="detail">
        <img src="https://placehold.co/150">
        <div class="detail-info">
            <a th:href="@{'detail/' + ${item.id}}">
                <h4 th:text="${item.title}">셔츠</h4>
            </a>
            <p th:text="|${item.price}원|">가격</p>
            <button type="button" th:onclick="|location.href='/modify/${item.id}'|">✍🏻</button>
        </div>
    </div>




</div>

</body>
