<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/layout/nav.css">

<div class="nav" th:fragment="navbar">
    <div class="nav-left">
        <a class="logo" href="/item/list">Shopping Mall</a>
        <a sec:authorize="isAuthenticated()">
            <a href="/item/write">Write</a>
        </a>
    </div>
    <div class="nav-right">

        <a sec:authorize="!isAuthenticated()">
            <a href="/member/signup">Sign Up</a>
            <a href="/member/login">Login</a>
        </a>

        <a sec:authorize="isAuthenticated()">
            <a sec:authentication="principal.username"></a>
            <form action="/member/logout" method="post" style="margin: 0; padding: 0;">
                <button type="submit" class="logout-link">LogOut</button>
            </form>
        </a>


    </div>


</div>