<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/layout/nav.css">

<div class="nav" th:fragment="navbar">
    <div class="nav-left">
        <a class="logo" href="/item/list/page/1">Shopping Mall</a>
        <a sec:authorize="isAuthenticated()">
            <a href="/item/write">Write</a>
        </a>
    </div>
    <div class="nav-right">
        <a sec:authorize="!isAuthenticated()">
            <a href="/member/login">MyPage</a>
        </a>

        <a sec:authorize="isAuthenticated()">
            <a href="/member/my-page">MyPage</a>
            <a href="/cart">Cart</a>

        </a>



    </div>


</div>